{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block body %}
    <section class="mt-4 pt-5">
        <article>
            <div class="d-flex div_extrerno">
                <div class="div_image">
                    <div class="div_curtain">
                        <div class="div_align">
                            <div class="container container_div_a">
                                <h1 class="text-end d-flex float-none heading_div display-1">los mejores
                                    restaurantes</h1>
                                <div class="div_paragraph">
                                    <p class="text-uppercase text-start paragra">Encuentra aquí el mejor lugar para ti y
                                        los tuyos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="div_middle">
                <div class="div_interno">
                    <h1 class="text-center heading_middle"><strong>Encuentra lo mejor de lo mejor</strong></h1>
                </div>
            </div>
        </article>
        <article>
            <div class="d-flex div_extrerno_2">
                <div class="div_image_2">
                    <div class="div_curtain">
                        <div class="div_align">
                            <div class="container container_div_a">
                                <h1 class="text-start d-flex float-none heading_div display-1">Los mejores
                                    platillos</h1>
                                <div class="div_paragraph">
                                    <p class="text-uppercase text-start paragra">Encuentra aquí los mejores platillos
                                        para ti y los tuyos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
{% endblock %}