{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block postcss %}
    <link rel="stylesheet" href="{% static 'assets/css/capcha.compiled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/login.compiled.css' %}">
{% endblock %}
{% block body %}
    <section class="pt-4 mt-5">
        <div class="principal_login">
            <div class="image_login rounded-3">
                <div></div>
                <div id="login" class="login-clean rounded-3">
                    <form id="formLogi" class="form-login" action="{{ request.get_full_path }}"
                          method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.name  == 'email' %}
                                <div class="illustration"><i class="far fa-user" style="color: #0078da;"></i></div>
                                <div class="form-group mb-3">
                                    {{ field }}
                                    <div class="invalid-tooltip">
                                        Ingrese un correo valido!
                                    </div>
                                    <div class="valid-tooltip">
                                        Excelente!
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.name == 'password' %}
                                <div class="form-group mb-3">
                                    {{ field }}
                                    <div class="invalid-tooltip">
                                        Ingrese una contraseña valida!
                                    </div>
                                    <div class="valid-tooltip">
                                        Excelente!
                                    </div>
                                </div>
                            {% endif %}
                            {% if field.help_text %}
                                <small id="{{ field.name }}Help" class="form-text text-muted">
                                    {{ field.help_text }}
                                </small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="alert alert-danger rounded col-12 mt-4" role="alert">
                                    <ul class="mb-0">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div>
                            <h6 class="text-nowrap text-uppercase fw-light text-white"
                                style="font-family: Roboto, sans-serif;text-align: center;">Seleccione el
                                color:&nbsp;<span class="text-uppercase fw-lighter" id="colorSelected"
                                                  style="margin: auto;"></span></h6>
                            <main class="container-fluid Select justify-content-center">
                                <div class="element rounded-3"></div>
                                <div class="element rounded-3"></div>
                                <div class="element rounded-3"></div>
                                <div class="element rounded-3"></div>
                                <div class="element rounded-3"></div>
                                <div class="element rounded-3"></div>
                            </main>
                        </div>
                        <div class="form-group mb-3 buton-lo"><a class="forgot" data-bs-toggle="modal"
                                                                 data-bs-target="#elegir" href="#"
                                                                 style="color: rgb(255,255,255);font-family: Roboto, sans-serif;">¿No
                            tienes cuenta? ¡Regístrate aquí!</a>
                            <input id="login_buton" class="btn btn-primary d-block buton mt-2" type="button"
                                   value="Iniciar sesión">
                        </div>
                        <a class="forgot" type="button" data-bs-toggle="modal" data-bs-target="#olvidar"
                           style="color: rgb(255,255,255);">¿Olvidaste tu correo o contraseña?</a>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <div id="olvidar" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" value="Recuperar contraseña">Recuperar contraseña</h5>
                    <button class="btn btn-primary buton" type="button" data-bs-dismiss="modal" aria-label="close">X
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Escriba el correo registrado</h6>
                    <form action="{% url 'forgot' %}"><input class="form-control" type="email" placeholder="Correo"
                                                     name="email">
                        <div class="modal-footer">
                            <button class="btn btn-primary buton" role="button" data-bs-dismiss="modal">Cancelar
                            </button>
                            <button class="btn btn-primary buton" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block postjs %}
    <script>
        var elements = document.querySelectorAll(".element");
        var colorSelected = document.querySelector("#colorSelected");
        var buton = document.querySelector("#login_buton");
        var colorx = 0;
        let number = [];
        var option = {
            animation: true,
            delay: 2000
        };


        elements.forEach((element) => {
            orden();
            const color = getRandomcolor();
            element.style.backgroundColor = color;
            element.innerHTML = color;
            let nuevo = number.push(color)

        });

        elements.forEach((element) => {
            element.addEventListener("click", () => {

                return colorx = element.innerHTML;
            });
        });

        function orden() {
            var rand = Math.floor(Math.random() * number.length);
            console.log(number[rand])
            colorSelected.innerHTML = number[rand];
        }

        function getRandomcolor() {
            const letter = "0123456789ABCDEF";
            let color = "#";
            var array = [];
            for (let i = 0; i < 6; i++) {
                color += letter[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $("#login_buton").click(function (event) {
            console.log(colorx);
            if (colorx === colorSelected.innerHTML) {
                document.getElementById('formLogi').submit();
            }
            if (colorx === 0) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Lo siento!, recuerda que debes llenar todos los campos.'
                })
                return false;
            }
            if (colorx != colorSelected.innerHTML) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Vuelve a intentarlo.'
                })
                setTimeout(() => {
                    location.reload(true)
                }, 1000);

            }
        })
    </script>
{% endblock %}