{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block postcss %}
    <link rel="stylesheet" href="{% static 'assets/css/map_site.compiled.css' %}">
{% endblock %}
{% block body %}
    <section class="mt-5 pt-4">
        <div class="d-flex flex-column site-map ps-xxl-5 ps-xl-5 ps-lg-5">
            <div id="olvidar" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" value="Recuperar contraseña">Recuperar contraseña</h5>
                            <button class="btn btn-primary buton" type="button" data-bs-dismiss="modal"
                                    aria-label="close">X
                            </button>
                        </div>
                        <div class="modal-body">
                            <h6>Escriba el correo registrado</h6>
                            <form action="{% url 'map_site' %}" method="get"><input class="form-control" type="email"
                                                                                    placeholder="Correo" name="email">
                                <div class="modal-footer">
                                    <button class="btn btn-primary buton" role="button" data-bs-dismiss="modal"
                                            aria-label="close">Cancelar
                                    </button>
                                    <button class="btn btn-primary buton" type="submit">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled text-uppercase w-auto border border-1 rounded-3">
                <li><a href="{% url 'index' %}" target="_top">Inicio</a>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'reviews:restaurant_list' %}" target="_parent">Restaurantes</a></li>
                        <li><a href="{% url 'reviews:restaurant_top' %}" target="_parent">Top Revie</a></li>
                        <li><a href="{% url 'about' %}" target="_parent">Quienes somos</a></li>
                        <li><a href="{% url 'login' %}" target="_parent">Iniciar sesión</a>
                            <ul class="list-unstyled">
                                <li><a href="#" target="_parent">perfil reviewer</a></li>
                                <li><a href="#" target="_parent">perfil restaurante</a></li>
                            </ul>
                        </li>
                        <li><span>Registrarse</span>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'reviews:register_reviewer' %}" target="_parent">Registro Reviewer</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}