{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block postcss %}
    <link rel="stylesheet" href="{% static 'assets/css/profile_reviewer.compiled.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/untitled.css' %}">
{% endblock %}
{% block body %}
    <section class="mt-5 pt-5">
        {% if object %}
            <div id="form-register" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" value="Recuperar contraseña">informacion</h5>
                            <button class="btn btn-primary buton" type="button" data-bs-dismiss="modal"
                                    aria-label="close">
                                X
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="principal-conten">
                <div class="conten-info">
                    <div class="filter rounded-3">
                        <div class="conten-profile">
                            <a class="btn btn-primary buton buton-edit" type="button"
                               href="{% url 'reviews:update_reviewer' pk=user.id %}"><i class="far fa-edit"
                                                                                        style="transform: scale(1.55);"></i></a>
                            <div class="info-reviewer">
                                {% if object.photo %}
                                    <img class="photo-reviewer rounded-circle"
                                         src="{{ object.photo.url }}">
                                {% else %}
                                    <img class="photo-reviewer rounded-circle"
                                         src="{% static 'assets/img/LogoEG/reviestartgris.png' %}">
                                {% endif %}
                                <h2 class="text-center m-2">{{ object.first_name }} {{ object.last_name }}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="pad-info rounded-3 border border-1">
                        <div>
                            <h3>Informacion</h3>
                            <h5>correo</h5><span>{{ object.email }}</span>
                        </div>
                        <div style="margin-top: 25px;">
                            <h5>descripcion</h5>
                            <p style="text-align: justify;">{{ object.description }}</p>
                        </div>
                    </div>
                </div>
                <div class="conten-review rounded-3 border border-1">
                    <h3>reseñas</h3>
                    <h1 class="display-6" style="color: #008cff;font-weight: bold;">{{ count_review }} reseñas</h1>
                    <div class="review">
                        {% for rview in reviews_res %}
                            <div class="conten-ref-princi rounded-3 border border-1">
                                <div id="Review1{{ rview.id }}" class="modal fade" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="btn btn-primary buton" type="button"
                                                        data-bs-dismiss="modal"
                                                        aria-label="close">X
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% if rview.photo_one %}
                                                    <img class="img-fluid"
                                                         src="{{ rview.photo_one.url }}">
                                                {% else %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Review2{{ rview.id }}" class="modal fade" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="btn btn-primary buton" type="button"
                                                        data-bs-dismiss="modal"
                                                        aria-label="close">X
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% if rview.photo_two %}
                                                    <img class="img-fluid"
                                                         src="{{ rview.photo_two.url }}">
                                                {% else %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="Review3{{ rview.id }}" class="modal fade" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-fullscreen">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button class="btn btn-primary buton" type="button"
                                                        data-bs-dismiss="modal"
                                                        aria-label="close">X
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {% if rview.photo_three %}
                                                    <img class="img-fluid"
                                                         src="{{ rview.photo_three.url }}">
                                                {% else %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex flex-row" style="padding-top: 5px;padding-left: 4px;">
                                    {% if rview.person.photo %}
                                        <img
                                                class="rounded-circle" src="{{ rview.person.photo.url }}" width="70px"
                                                height="70px"
                                                style="width: 55px;height: 55px;">
                                    {% else %}
                                        <img
                                                class="rounded-circle"
                                                src="{% static 'assets/img/LogoEG/reviestartgris.png' %}" width="70px"
                                                height="70px"
                                                style="width: 55px;height: 55px;">
                                    {% endif %}
                                    <div style="margin: 0;margin-left: 14px;">
                                        <h5>{{ rview.person.first_name }} {{ rview.person.last_name }}<br></h5><span
                                            style="font-size: 13px;">{{ rview.date }}</span>
                                    </div>
                                </div>
                                {% if rview.photo_one %}

                                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                                         style="margin-top: 20px;margin-bottom: 10px;">
                                        <div class="carousel-indicators">
                                            {% if rview.photo_one %}

                                                <button class="btn btn-primary active" type="button"
                                                        data-bs-slide-to="0"
                                                        aria-current="true" aria-label="Slide 1"
                                                        data-bs-target="#carouselExampleIndicators"></button>
                                             {% else %}
                                            {% endif %}

                                            {% if rview.photo_one %}

                                                <button class="btn btn-primary" type="button" data-bs-slide-to="1"
                                                        aria-label="Slide 2"
                                                        data-bs-target="#carouselExampleIndicators"></button>
                                            {% else %}
                                            {% endif %}

                                            {% if rview.photo_one %}

                                                <button class="btn btn-primary" type="button" data-bs-slide-to="2"
                                                        aria-label="Slide 3"
                                                        data-bs-target="#carouselExampleIndicators"></button>
                                            {% else %}
                                            {% endif %}

                                        </div>
                                        <div class="carousel-inner rounded-3">
                                            <div class="carousel-item active rounded-3"
                                                 style="height:250px;"
                                                 data-bs-toggle="modal"
                                                 data-bs-target="#Review1{{ rview.id }}">
                                                {% if rview.photo_one %}
                                                    <img class="img-fluid d-block w-100 image rounded-3"
                                                         src="{{ rview.photo_one.url }}">
                                                {% else %}

                                                {% endif %}
                                            </div>
                                            {% if rview.photo_two %}

                                                <div class="carousel-item image rounded-3"
                                                     style="height:250px;"
                                                     data-bs-toggle="modal"
                                                     data-bs-target="#Review2{{ rview.id }}">
                                                    {% if rview.photo_two %}
                                                        <img class="img-fluid d-block w-100 image rounded-3"
                                                             src="{{ rview.photo_two.url }}">
                                                    {% else %}

                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                            {% if rview.photo_three %}

                                                <div class="carousel-item image rounded-3"
                                                     style="height:250px;"
                                                     data-bs-toggle="modal"
                                                     data-bs-target="#Review3{{ rview.id }}">
                                                    {% if rview.photo_three %}
                                                        <img class="img-fluid d-block w-100 image rounded-3"
                                                             src="{{ rview.photo_three.url }}">
                                                    {% else %}

                                                    {% endif %}
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endif %}
                                <div class="conten-star">
                                    {% if rview.score >= 1 %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="550" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% else %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="550" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% endif %}
                                    {% if rview.score >= 2 %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="600"
                                             data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% else %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="600" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% endif %}
                                    {% if rview.score >= 3 %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="650"
                                             data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% else %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="650" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% endif %}
                                    {% if rview.score >= 4 %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="700"
                                             data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% else %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="700" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% endif %}
                                    {% if rview.score >= 5 %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="750"
                                             data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% else %}
                                        <img data-aos="zoom-out" data-aos-duration="450"
                                             data-aos-delay="750" data-aos-once="true"
                                             class="image_star_card"
                                             src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                             style="padding: 0px;margin: 3px;">
                                    {% endif %}

                                </div>
                                <div style="padding-left: 10px;padding-right: 5px;">
                                    <h4>{{ rview.title }}</h4>
                                    <p style="font-size: 23px;">{{ rview.description }}</p>
                                </div>
                                <a class="text-decoration-none" href="#"></a><a class="text-decoration-none" href="#">
                                <div class="d-flex flex-row conten-ref rounded-3 border border-1">

                                    <div style="margin-bottom: 0px;margin-left: 30px;">
                                        <h3 style="font-size: 80%;">{{ rview.place.name }}</h3>

                                        <div class="conten-star-ref">

                                            {% if rview.place.score >= 1 %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="550" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% else %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="550" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% endif %}
                                            {% if rview.place.score >= 2 %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="600"
                                                     data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% else %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="600" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% endif %}
                                            {% if rview.place.score >= 3 %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="650"
                                                     data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% else %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="650" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% endif %}
                                            {% if rview.place.score >= 4 %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="700"
                                                     data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% else %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="700" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% endif %}
                                            {% if rview.place.score >= 5 %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="750"
                                                     data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/Stars/Revie - starts -xs.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% else %}
                                                <img data-aos="zoom-out" data-aos-duration="450"
                                                     data-aos-delay="750" data-aos-once="true"
                                                     class="image_star_card"
                                                     src="{% static 'assets/img/LogoEG/reviestartgris.png' %}"
                                                     style="padding: 0px;margin: 3px;">
                                            {% endif %}
                                        </div>
                                        <span>{{ rview.place.count_reviews }} reseñas</span>
                                    </div>
                                </div>
                            </a>
                            </div>
                        {% endfor %}

                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
                                <li class="page-item active rounded-3" aria-current="page"><a class="page-link border-0"
                                                                                              href="#" target="_parent"
                                                                                              style="background: var(--bs-blue);">1</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><span class="page-link">Siguiente</span></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock body %}