{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block postcss %}
    <link rel="stylesheet" href="{% static 'assets/css/profile_reviewer.compiled.css' %}">
{% endblock %}
{% block body %}

    <section class="mt-5 pt-5">
        <article class="conten_info_register">
            <form id="form_regis" class="needs-validation" action="index.html" method="post" target="_self"
                  enctype="application/x-www-form-urlencoded" novalidate="">
                <div id="register_reviewer" class="all_info">
                    <div id="basica" class="info_basic">
                        <h3 class="text-center heading_regis">Informacion basica</h3>
                        <div class="compar">
                            <div class="input-group input-group-sm mb-3"><input
                                    class="form-control form-control-sm input_register" type="text" placeholder="Carlos"
                                    autocomplete="on" name="fname" required=""><span id="basic-addon1"
                                                                                     class="input-group-text"
                                                                                     aria-label="Username"
                                                                                     aria-describedby="basic-addon1">Nombre</span>
                                <div class="invalid-tooltip">
                                    Ingrese un nombre valido!
                                </div>
                                <div class="valid-tooltip">
                                    Excelente!
                                </div>
                            </div>
                            <div class="input-group input-group-sm mb-3"><input
                                    class="form-control form-control-sm input_register" type="text" placeholder="Amaya"
                                    autocomplete="on" name="lname" required=""><span id="basic-addon-1"
                                                                                     class="input-group-text"
                                                                                     aria-label="Username"
                                                                                     aria-describedby="basic-addon1">Apellido</span>
                                <div class="invalid-tooltip">
                                    Ingrese un apellido valido!
                                </div>
                                <div class="valid-tooltip">
                                    Excelente!
                                </div>
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3"><span id="basic-addon-2" class="input-group-text"
                                                                           aria-label="Username"
                                                                           aria-describedby="basic-addon1">Correo</span><input
                                class="form-control form-control-sm input_register" type="email"
                                placeholder="ejemplo@gmail.com" autocomplete="on" name="email" required="">
                            <div class="invalid-tooltip">
                                Ingrese un correo valido!
                            </div>
                            <div class="valid-tooltip">
                                Excelente!
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3"><input
                                class="form-control form-control-sm input_register" type="password" id="password2"
                                placeholder="1*dS******" name="password" required=""><span id="basic-addon-3"
                                                                                           class="input-group-text"
                                                                                           aria-label="Username"
                                                                                           aria-describedby="basic-addon1">Contraseña</span>
                            <div class="invalid-tooltip">
                                Ingrese una constraseña valida!
                            </div>
                            <div class="valid-tooltip">
                                Excelente!
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3"><span id="basic-addon-4" class="input-group-text"
                                                                           aria-label="Username"
                                                                           aria-describedby="basic-addon1">Confirmación</span><input
                                class="form-control form-control-sm input_register" type="password" id="password1"
                                placeholder="1*dS******" name="password" required="">
                            <div class="invalid-tooltip">
                                Ingrese una contraseña valida!
                            </div>
                            <div class="valid-tooltip">
                                Excelente!
                            </div>
                        </div>
                        <div class="input-group input-group-sm mb-3"><input
                                class="form-control form-control-sm input_register" type="tel" placeholder="3000000000"
                                name="telephone" required=""><span id="basic-addon-6" class="input-group-text"
                                                                   aria-label="Username" aria-describedby="basic-addon1">Teléfono</span>
                            <div class="invalid-tooltip">
                                Ingrese un telefono valido!
                            </div>
                            <div class="valid-tooltip">
                                Excelente!
                            </div>
                        </div>
                        <div class="compar">
                            <div class="input-group input-group-sm mb-3"><span id="basic-addon-5" class="input-group-text"
                                                                               aria-label="Username"
                                                                               aria-describedby="basic-addon1">Edad</span><input
                                    class="form-control form-control-sm input_register" type="number" placeholder="12"
                                    name="age" required="">
                                <div class="invalid-tooltip">
                                    Ingrese una valida valido!
                                </div>
                                <div class="valid-tooltip">
                                    Excelente!
                                </div>
                            </div>
                            <div class="input-group input-group-sm mb-3"><span id="basic-addon-7" class="input-group-text"
                                                                               aria-label="Username"
                                                                               aria-describedby="basic-addon1">Sexo</span><select
                                    class="form-select form-select-sm" placeholder="sexo" required value="sexo">
                                <option selected disabled value="">Sexo</option>
                                <option value="M">M</option>
                                <option value="T">T</option>
                                <option value="F">F</option>
                            </select>
                                <div class="invalid-tooltip">
                                    Seleccione un sexo valido!
                                </div>
                                <div class="valid-tooltip">
                                    Excelente!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="complementaria" class="info_comple">
                        <h3 class="text-center heading_regis">Informacion Complementaria</h3>
                        <div class="input-group input-group-sm mb-3"><span id="basic-addon-8" class="input-group-text"
                                                                           aria-label="Username"
                                                                           aria-describedby="basic-addon1">Fotografia</span><input
                                class="form-control" type="file" accept="image/jpg, image/jpeg, image/png"></div>
                        <div id="descrip" class="input-group input-group-sm mb-3"><textarea class="form-control input_des"
                                                                                            row="1"></textarea><span
                                class="input-group-text" aria-label="Username"
                                aria-describedby="basic-addon1">Descripccion</span></div>
                        <div class="conten_buton" style="text-align: right;">
                            <button class="btn btn-primary buton" id="envio" type="submit" style="text-align: right;">
                                Registrar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </section>
{% endblock body %}

